#it defines all the architecture the application needs and starts with one command
#It starts Kafka, Postgres, Redis, etc. as containers on hte machine so spring
#boot services can use them.

services:
  postgres:
    image: postgres:15
    container_name: mystore-postgres
    environment:
      POSTGRES_DB: mystore
      POSTGRES_USER: mystore_user
      POSTGRES_PASSWORD: mystore_pass
    ports:
      - "5432:5432"
    volumes:
      - mystore_pgdata:/var/lib/postgresql/data

volumes:
  mystore_pgdata:


#whatever command I wrote in terminal, dockee reads this in docker compose.yml, I asked for
#postgres image 15, it tried looking for the image locally, it did not find that, so it
#contacted dockerhub to pull. then docker saved the image locally, it created the runtime resources
#like the network, volume and the contsiner ,and then ran postgres inside it.
#all I did or ask was: I want a service that uses postgres 15.